/* Updated CSS for authForm.css */

.auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #10201a; /* Dark green background for the full container */
    padding: 0; /* No padding needed here as it's a flex container centering items */
}

.auth-form {
    padding: 20px;
    border-radius: 8px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    
}

.auth-form input, .auth-form button {
    width: 100%; 
    padding: 12px 10px;
    margin: 10px 0; /* Margin for top and bottom spacing */
    border-radius: 5px;
    border: 1px solid #ccc; /* Light grey border for a subtle outline */
}

.auth-form button {
    background-color: #008080; /* Teal background color for the button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
    margin-top: 0px; 
    width: 100px;
    
}

.auth-form button:hover {
    background-color: #094b34; /* Darker teal on hover for interactive effect */
}
