.camera-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  border: 2px solid #10201a;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(30, 102, 102, 0.5);
  cursor: move;
}

.camera-video {
  width: 100%;
  height: 100%;
  border: none; 
  border-radius: 8px;
  object-fit: cover;
}

.resize-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: #10201a;
  cursor: se-resize;
}
