@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fading-logo {
    width: 150px; 
    height: auto;
    animation: fadeInOut 3s infinite; 
    margin-bottom: 20px; 
}

.loading-tips-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    color: #e6f0ff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.loading-tips {
    background-color: #007bff;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 80%;
    margin: 10px auto; 
}

.loading-tips p {
    margin: 0;
}
