.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.start-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 22px;
  color: #fff;
  background-color: #48bf3f; /* Green background color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.start-button svg {
  margin-right: 10px;
}

.start-button:hover {
  background-color: #0056b3;
}

.difficulty-section {
  margin-top: 20px;
}

.difficulty-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.difficulty-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #008cba; /* Blue background color */
  color: white;
  transition: background-color 0.3s;
}

.difficulty-button:hover {
  background-color: #005f7f; /* Darker blue on hover */
}

.custom-language {
  margin-top: 20px;
}

.custom-language-input {
  width: 300px; /* Increase the width of the input box */
  padding: 15px; /* Increase padding for a larger input box */
  font-size: 16px;
  border: 2px solid #008cba;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.custom-language-input:focus {
  border-color: #005f7f; /* Darker blue on focus */
}
