/* General style for pages that include the navigation bar */
.main-content {
    margin-top: 50px;
    min-height: calc(100vh - 50px); 
    padding: 20px;
    background-color: #10201a; 
    color: #fbf9f9;
    font-family: 'Courier New', Courier, monospace; 
  }
