/* NavBar.css */
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: #282c34;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-left {
  display: flex;
  align-items: center;
}

nav a, nav span {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  cursor: pointer;
}

nav span {
  text-decoration: underline;
}
