/* src/styles/Resources.css */
.resources-container {
    text-align: center;
    padding: 2rem;
    justify-content: center;
    
    
}

.resources-container h1 {
    margin-bottom: 2rem;
}

.resources-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.resource-link {
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.resource-icon {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover; 
   
    opacity: 0;
    animation: flyUp 1s ease-in-out forwards;
}

.resources-icons a p {
    font-family: 'Arial', sans-serif; 
    font-size: 1rem; 
    color: white; 
    font-weight: bold; 
    margin-top: 0.5rem; 
}

.resource-link:nth-child(1) .resource-icon {
    animation-delay: 0s;
}

.resource-link:nth-child(2) .resource-icon {
    animation-delay: 0.2s;
}

.resource-link:nth-child(3) .resource-icon {
    animation-delay: 0.4s;
}

.resource-link:nth-child(4) .resource-icon {
    animation-delay: 0.6s;
}

.resource-link:nth-child(5) .resource-icon {
    animation-delay: 0.8s;
}

.resource-link p {
    font-family: 'Arial', sans-serif; 
    font-size: 1rem; 
    color: #f5f2f2;
    margin-top: 0.5rem; 
}
@keyframes flyUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
